// header style

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 7777;
  width: 100%;
  transition: background-color 0.2s ease;
  background-color: $white-color;
  box-shadow: 0px 1px 6px #e5e5e573;
  color: $white-color;
  #logo {
    svg {
      path {
        fill: #3FAAEE;
      }
      //stroke: $blue-color;
    }
    h5 {
      color: $black-color;
    }
  }
  .container {
    align-items: center;
    justify-content: space-between;

    .container-btn-account {
      a:first-child {
        margin-right: 10px;
      }
    }
  }
}

.header--only-btn-nav {
  box-shadow: none;
  background: none;
  & #logo, & .container-btn-account {
    display: none!important;
  }
}

.header--transparent {
  background: none;
  box-shadow: none;
  z-index: 8888;
  .btn--secondary-outline-dark {
    border: 2px solid $white-color;
    color: $white-color;
    &:hover {
      border: 2px solid $blue-color;
      color: $blue-color;
      background: none;
    }
  }
  #logo {
    svg {
      path {
        fill: $white-color;
      }
    }
    h5 {
      color: $white-color;
    }
  }
  .btn-toggle-nav {
    &:before, &:after, & > span {
      background-color: $white-color!important;
    }
  }
}

#logo {
  display: flex;
  align-items: center;
  h5 {
    margin-left: 13px;
    color: $white-color;
  }
}

.btn-toggle-nav {
  display: none;
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: auto;
  &:before, &:after, & > span {
    transition: all .5s ease;
    position: absolute;
    content: "";
    height: 3px;
    width: 30px;
    background-color: $black-color;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &:after {
    top: 5px;
  }
  &:before {
    bottom: 5px;

  }
  & > span {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.btn-toggle-nav--open {
    &:after, &:before, & > span {
      background-color: $black-color!important;
    }
    &:after {
      transform: rotate(-45deg) translate(-50%, -50%);
    }
    &:before {
      transform: rotate(45deg) translate(-50%, -50%);
      left: 49%;
    }
    & > span {
      left: -5px;
      opacity: 0;
    }
  }
}

@media screen and (max-width: $tableWidth) {
  .container-btn-account {
    display: none;
  }
  .btn-toggle-nav {
    display: block;
  }
}

@media screen and (max-width: $phoneWidth) {

}
